# local package
-e .

# external requirements - conda
click
Sphinx
coverage
flake8
requests
beautifulsoup4
pandas
jupyterthemes
jupyter==1.0.0
jupyterlab==1.1.4
# conda install -c conda-forge jupyter_contrib_nbextensions -y
# jupyter contrib nbextension install --user
# conda install -c conda-forge jupyter_nbextensions_configurator -y

# external requirements - pip
awscli
python-dotenv>=0.5.1
